/*reset*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}
.container {
	margin: 0 auto;
}
 nav ul {
	list-style-type: none;
}
li a {
	font-size:10px;
	color:#ccc;
	margin-top:10%;

}





/*header*/
header {


	content: '';
	display: block;
	position:relative;
	left: 0;
	top: 0;
	z-index: 0;
	background: rgba(0, 0, 0, 2.5);
	width: 100%;
	height: 88%;
}

.logo {
	width:5%;
	height:8%;
	margin:0 auto;
	margin-left:2%;
}

.carousel-item img {
	object-fit: cover;
   width:100%;
   height:500px;
   
}
/*.active {
	height:90%;
	
}*/
.phone {
	width:30%;
	margin-left:40px;
	margin-top:20px;
}
.phone .fa-phone {
	margin-right:2%;
}
.phone .fa-phone, .phone p {
	display:inline-block;
}
.cover-text {
	position:absolute;
    top:53%;
    left:5%;

}
.photo:before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	background: rgba(0, 0, 0, .6);
	height:75%;
	width:15%;
	
	margin-top:4.5%;
}
.cover-text p {
	font-size:100%;
}


/*card-deck*/

.card-deck {
	margin-top:10%;
	width:78%;
	margin-left:22%;
	height:40%;
}

.second{
	position:relative;
	width:35%;
}


.second-card-body{
	position:absolute;
	width:70%;
	bottom:20px;
	padding-left:4%;
    
}
.current-card-text {
	font-size:90%;
	line-height:85%;
	color:grey;
}
.card-text {
	font-size:80%;
}

.card img {
  height:100%;
  width:100%;
}
.second h5,p {
	color:#fff;

}

.fa-key {
	margin-right:2%;
}

h1 {
	color:#fff;
}

.first-card {
	
	border:5px solid #6666ff;
}

.all-projects {
	margin-left:200px;
	border:1px solid #6666ff;
    box-shadow: 0 0px 10px rgba(0,0,0,0.8);
	width:16%;
	border-right-color: #fff;
	height:90%;
	padding:5.5%;
	overflow: hidden;
    margin-top:2%;

}
h4 {
	font-weight: 20%;
	color: #6666ff;
	white-space:nowrap;
	font-size:20px;
	
}
.fa-hand-o-right:hover {
	color:green;
}


.fa-plus {
	margin-left:50%;
	margin-bottom:50%;
}
.second:before {
		position: relative;
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
}


/*gallery*/

.news h2, .gallery h2{
	text-align:center;
	margin:40px 40px;
}

.photo img{
	float:left;
	width:20%;

}


/*about-us*/

	.about-us img {
		height:70%;
		 position:relative;
		 opacity:0.8;
		 width:70%;
	}
	.about-us .second {
		position:absolute;
		margin-left:55%;
		border:none;
		z-index:1;

	}
	.about-us p , .about-us h5 {
		color:black;

	}
	.about-us .second-card-body {
		background-color:#ccc;
		opacity:0.7;
		padding:20px;
		margin-bottom:30%;
	}
	  .about-us{
	bottom:0;
	opacity:0.9;
    
	}



	/*news*/



article img {
	height:16%;
	width:12%;
	margin-bottom:7%;
	margin-left:3.5%;
	margin-right:2%;
}
article p {
	color:black;
	font-size:10px;
}
.description {
	width:15%;

}
article img , .description {
	display: inline-block;
}

.news img , .news .description{
	float: left;
}
.clear {
	clear: both;
}


	.section {
		position: relative;
	}


.btn-primary:hover {
	background-color: #009973;
}

.btn-primary {
	font-size:70%;
}


.last {
	position: relative;
}
.last-hand {
	position: absolute;
	right:150px;
	top:40px;
	z-index:1;
}
.last p, .last h5  {
	color:#ccc;

}
.last a {
	background-color: #ccc;
	border-color: #ccc;
}


	.location h2 {
		text-align:center;
		margin-bottom:5%;
		
		/*margin-left:6%;*/
	}

	.current-project {
		position: absolute;
		bottom:-50px;
		width:30%;
		height:40%;
		left:500px;
	
	}
		.news-cover {
		width:15%;
		height:100%;
		padding:0px;
	}
.current-project img {
	width:39%;
	height:100%;
	margin-bottom:0.01%;
}
	.contact-card img,  .news-content{
		display:inline-block;
	}

	.contact-card h5 {
		/*margin-left:5%;*/
		font-size:15px;
		top:0;
		color:#fff;
	}
.news-content i , .news-content p{
    display:inline-block;
}
	.contact-card {
		background-color: #6666ff;
		/*padding:40px;*/
		left:0;
		bottom:0;
		

	}

     /* contact*/
	

	ul {
		float:right;
	}

.contact-phone {
	text-align: center;
	padding:8%;
}

.fa-phone {
	margin-bottom:2%;
}
.contact-phone h6 {
	color:black;
	margin-left:2%;
	font-size:26px;
	display: inline-block;
}
.contact-phone p {
	color:black;
	margin-left:1%;
}


/*footer*/

.footer-logo {
	width:5%;
}
.fa-facebook-square {
	margin-right:4%;
}
h6 {
	font-size:12px;
}


@media only screen and (max-width: 995px){
.card-deck {
	margin-top:10%;
	width:65%;
	margin-left:20%;

}
.card-body p {
	font-size:76%;
}
.all-projects {
margin:0;
background-image: none;
display:none;
border:none;
box-shadow:none;
}

.second p , .second a {
	font-size: 60%;
}
.about-us img {
	width:100%;
}

.contact-card {
	width:100%;
	left:10%;
}
.news img {
	width:60%;
}
.second {
	width:70%
	margin:auto;
}
header {
  height:70%;
}
.carousel-item img {
	object-fit: cover;
    height:380px; 
    margin-top:1%;
}

.photo:before {
	display:none;
}

}

@media only screen and (max-width: 768px){ 

  .contact-card  {
 	display:none;
 }
 .card-deck {
	margin-top:5%;
	width:90%;
	margin-left:5%;
	height:320px;
}
 .gallery {
 	display:block;
 }
 .news img{
 	width:60%;
 }

header {
  height:70%;
}
.carousel-item img {
	object-fit: cover;
    height:380px; 
    margin-top:1%;
}
.about-us  {
	height:20%;

	
}
.photo:before {
	height:70%;
}
.about-us .second {
	width:50%;
	height:10%;
	margin-bottom:20%;
	display:block;
}
.card-deck {
	margin-top:8%;
	width:90%;
	margin-left:5%;
	height:300px;
}
.second:before {
	display: none;
}
}
@media only screen and (max-width: 576px){
.all-projects {
	display: none;
}

 .news {
 	display: none;
 }
header {
  height:65%;

}
.carousel-item img {
	object-fit: cover;
    height:380px; 
    margin-top:1%;
}

.photo:before {
	height:70%;
}
.about-us  {
	height:40%;
	width:100%;
	margin-top:30%;
	
}
.about-us img {
	width:100%;
}

.second {
	width:100%;
	
}
.second p {
	font-size: 60%;
	display:block;
}
.about-us .second {
	width:80%;
	margin:0 auto;
	/*margin-top:10%;*/
}
.card-deck {
	width:70%;
	margin-left:15%;
	height:10%;
}
.card-deck .card-body {
	padding:11%;

}
 article img {
 	width:60%;
 }

.second:before {
	display: none;
}
.photo:before {
	display: none;
}
.carousel-item img {
	height:350px;
}
header p {
	font-size:90%;
}
.card-body p {
	font-size:100%;

}
.cover-text p {
	font-size:70%;
}


	}


